<div class="jumbotron">
  <form name="loginForm" ng-submit="submit()" ng-show="!user.loggedIn && !loading">
    <label>Name</label>
    <input name="name" ng-model="user.name" type="text" ng-required="true">
    <label>Password</label>
    <input name="password" ng-model="user.password" type="password" ng-required="true">
    <button class="md-raised md-primary"  ng-disabled="loginForm.$invalid">Sign In</button>
  </form>
  <div ng-show="loading">Loading...</div>
  <div ng-show="user.loggedIn">Redirecting to dashboard...</div>
</div>
